.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
//   if width get lesser than 250px then auto-fit makes 3 column to 2 column and also to 1 automatically , no need to use media query here :)
  grid-gap: 6rem;
  align-items: start;
}

.feature {
  // float: left;
  // width: 33.3333%;
  // margin-bottom: 6rem;

  display: grid;
  grid-template-columns: min-content 1fr; //min-content is icon width which is 4.5rem , so we can put 4.5rem instead but min-content is better and cleaner
  //   grid-template-rows: auto auto; not necessary

  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2; // to fill entire rows explicit or implicit
    // grid-row: 1 / -1; -1 works on explicit rows not implicit , if we use grid-template-rows above and declare our rows then we can use -1 to fill entire
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
